body {
    background-color: #333333;
    color: #dddddd;
}

a, a:link, a:visited, a:hover, a:active {
    color: #aaaadd;
}

.cupboard {
    background-color: #3f3f3f;
    border-bottom: 1px solid gray;
}

.card-base {
    box-shadow: 2px 2px 6px -3px #aaaaaa;
}

.statement-card {
    color: #eeeeee;
    background-color: #111111;
}

.object-card {
    color: #001111;
    background-color: #bbaaaa;
}

.verb-card {
    color: #000011;
    background-color: #bbbbaa;
}

.object-card a, .object-card a:link, .object-card a:visited, .object-card a:hover, .object-card a:active {
    color: #444411;
}

.verb-card a, .verb-card a:link, .verb-card a:visited, .verb-card a:hover, .verb-card a:active {
    color: #444411;
}
