body {
    background-color: #eeeeee;
    color: #333333;
}

a, a:link, a:visited, a:hover, a:active {
    color: #444411;
}

.match-box {
    background-color: #cfcfcf;
    box-shadow: 7px 7px 7px -3px #222222;
}

.cupboard {
    background-color: #dfdfdf;
    box-shadow: 0px 0px 10px -1px #222222;
}

.knob-statement {
    text-decoration: none !important;
    background-color: #000000;
}

.knob-object {
    text-decoration: none !important;
    background-color: #AD0021;
}

.knob-verb {
    text-decoration: none !important;
    background-color: #FAD416;
}

.success-box {
    border: 1px solid #00840A;
    background-color: #80D886;
}

.failure-box {
    border: 1px solid #9D000E;
    background-color: #F67382;
}

.card-base {
    box-shadow: 2px 2px 6px -3px #222222;
}

.part {
    background-color: #aaaaaa;
    box-shadow: 7px 7px 7px -3px #222222;
}

.match-chat {
    background-color: #dddddd;
    box-shadow: -2px 0px 7px -3px #222222;
}

.chat-line {
    box-shadow: 1px 0px 7px -1px #222222;
    background-color: #eeeeee;
    color: #333333;
}

.statement-card {
    color: #fafafa;
    background-color: #0a0a0a;
}

.statement-card a, .statement-card a:link, .statement-card a:visited, .statement-card a:hover, .statement-card a:active {
    color: #aaaadd;
}

.object-card {
    color: #001111;
    background-color: #dd9999;
}

.verb-card {
    color: #000011;
    background-color: #dddd99;
}
