body {
    background-color: #eeeeee;
    color: #333333;
}

a, a:link, a:visited, a:hover, a:active {
    color: #444411;
}

.cupboard {
    background-color: #dfdfdf;
    border-bottom: 1px solid gray;
}

.card-base {
    box-shadow: 2px 2px 6px -3px #222222;
}

.statement-card {
    color: #fafafa;
    background-color: #0a0a0a;
}

.object-card {
    color: #001111;
    background-color: #dd9999;
}

.verb-card {
    color: #000011;
    background-color: #dddd99;
}
