body {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
}

.match-box {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.status-box {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
}

.cupboard {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.card-base:hover {
    transform: scale(1.05);
}

.card-base {
    transition-property: transform;
    transition-duration: 200ms;
    position: relative;
    width: 128px;
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    height: 150px;
    font-family: 'Arial';
}

.card-id {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: x-small;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.match-container {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.match-view {
    margin-top: 20px;
}

.chat-svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.chat-msg {
    vertical-align: middle;
}

.match-chat {
    margin-bottom: -20px;
    width: 20%;
    min-width: 256px;
    font-size: small;
}

.chat-messages {
    padding: 5px 5px 0px 5px;
}

.chat-line {
    border: 0px;
    width: 100%;
    padding-top: 7px;
    padding: 5px 4px 3px 4px;
    min-height: 15px;
}

.part-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.part {
    margin: 3px 10px 15px 10px;
    overflow: hidden;
    position: relative;
    width: 256px;
    height: 48px;
    border-radius: 5px;
}

.part-name {
    position: absolute;
    top: 5px;
    left: 7px;
    font-size: small;
}

.part-score {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: small;
}

.part-type {
    position: absolute;
    bottom: 5px;
    right: 7px;
    font-size: small;
}

.part-status {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: small;
}

.match-status {
    text-align: center;
    width: 100%;
    margin: 5px 10px 15px 10px;
}

.default-container {
    padding-left: 20px;
}
