[submodule "src/lib/minify"]
	path = src/lib/minify
	url = https://github.com/LordKorea/minify.git
[submodule "src/lib/path-converter"]
	path = src/lib/path-converter
	url = https://github.com/LordKorea/path-converter.git
