body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
}

.large-text-button {
  font-size: large;
}

.hint {
  font-size: small;
  margin: 0 20px 0 10px;
}

.invisible {
  display: none !important;
}

.fake-anchor {
  text-decoration: underline;
  cursor: pointer;
}
