.floating-center {
  position: absolute;
  left: 37.5%;
  top: 37.5%;
  width: 25%;
  height: 25%;
  border: 1px solid gray;
  background-color: #f3f3f3;
}

.login-form {
  position: relative;
  top: 25px;
  left: 25px;
}

.auth-error {
  color: #b00;
}

.auth-ok {
  color: #0b0;
}

body {
  background-color: #eef3ee;
}
