.floating-center {
  position: absolute;
  left: calc((100vw - 480px) / 2);
  top: calc((100vh - 250px) / 2);
  width: 480px;
  height: 250px;
  background-color: #f3f3f3;
  box-shadow: 6px 6px 15px 0px #222;
  border-radius: 5px;
  padding: 30px;
  box-sizing: border-box;
}

.auth-error {
  color: #b00;
}

.auth-ok {
  color: #0b0;
}

body {
  background-color: #dde3dd;
  margin: 0px;
  padding: 0px;
}

.ghribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
