<!DOCTYPE html>
<html>
  <head>
  <title>Error</title>
    <style type="text/css">
      .errbox {
        padding: 10px 20px 20px 20px;
        width: 512px;
        background-color: #FF8080;
        box-shadow: 7px 7px 7px -3px #222222;
        border-radius: 5px;
      }
      .cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        background-color: #dddddd;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <div class="cont">
      <div class="errbox">
        <div style="font-size: 400%;"><b>Error</b></div><br>
        <span style="font-size: 125%;">
          An error occurred while the request was processed.
        </span>
      </div>
    </div>
  </body>
</html>
